.player{
    width: 100%;
    height: 200px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(60, 60, 60);
    margin-bottom: 50px;
}
.player__artist{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.player__artist img{
    max-width: 70px;
    display: inline-block;
    vertical-align: middle;
}
.player__artist h3{
    display: inline-block;
    color: #51cf66;
    font-weight: normal;
    font-size: 20px;
    vertical-align: middle;
    margin-left: 10px;
    max-width: 67%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.player__artist h3 > span{
    color: #449944;
    font-size: 13px;
}
.player__control{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.player__control_2{
    width: 10%;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-25%);
}
.player__control__buttons{
    display: inline-block;
}
.btns{
    color: white;
    margin: 15px;
    font-size: 18px;
}
.pauseBtn{
    display: none;
}
.playBtn{
    display: inline;
}
.loader {
    display: none;
    pointer-events: none;
    width: 18px;
    height: 18px;
    margin: 0 15px;
    border: 2px solid transparent;
    border-color: #f2f2f2;
    border-top-color: #51cf66;
    border-radius: 50%;
    animation: spin 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes spin {
    0%   { transform: rotateZ(0); }
    100% { transform: rotateZ(360deg); }
}
.volume{
    display: none;
    position: relative;
}
.muteBtn{
    position: absolute;
    top: 150px;
    left: 0px;
    color: white;
    z-index: 2;
}
.unMuteBtn{
    position: absolute;
    top: 150px;
    left: 0px;
    color: white;
    z-index: 2;
    display: none;
}
.showBtns{
    display: inline;
}
.showInlineBlock{
    display: inline-block;
}
.hideBtns{
    display: none;
}
.green{
    color: #51cf66;
}
.white{
    color: #fff;
}
/*Não escrevi até a linha comentada*/
input[type='range'] {
    -webkit-appearance: none;
    position: absolute;
    bottom: -115px;
    left: 10px;
    padding: 0 1em 0 4em;
    width: 17em;
    min-height: 3em;
    border-radius: 0.25em;
    transform: translate(-50%, -50%) rotate(-90deg);
    cursor: pointer;
    z-index: 2;
    /* slider components */
}
input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-sizing: border-box;
    border: solid 1px rgb(1, 100, 1);
    padding: 0.25em 0.5em;
    height: 0.875em;
    border-radius: 0.4375em;
    box-shadow: inset 1px 1px 0.125em #333;
    background: #51cf66;
}
.js input[type='range']::-webkit-slider-runnable-track {
    background: #51cf66 no-repeat content-box, #ebebeb border-box;
    background-size: 50% 100%, 100% 100%;
}
input[type='range']::-moz-range-track {
    box-sizing: border-box;
    border: solid 1px rgb(1, 100, 1);
    padding: 0.25em 0.5em;
    height: 0.875em;
    border-radius: 0.4375em;
    box-shadow: inset 1px 1px 0.125em #333;
    background:#51cf66;
}
.js input[type='range']::-moz-range-track {
    background: #51cf66 no-repeat content-box, #ebebeb border-box;
    background-size: 50% 100%, 100% 100%;
}
  input[type='range']::-ms-track {
    box-sizing: border-box;
    border: solid 1px rgb(1, 100, 1);
    padding: 0.25em 0.5em;
    height: 0.875em;
    border-radius: 0.4375em;
    box-shadow: inset 1px 1px 0.125em #333;
    background: #51cf66;
    /* get rid of ticks on track */
    color: transparent;
  }
  input[type='range']::-ms-fill-lower {
    border-radius: 0.4375em;
    background: #95c6c3;
  }
  input[type='range']::-ms-fill-upper {
    opacity: 0;
  }
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -0.6875em;
    width: 1.625em;
    height: 1.625em;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 0 0.1875em #eee, 0 0 0.125em 0.1875em #bbb, -0.125em 0 0.25em 0.125em #767674;
    background: linear-gradient(-60deg, #d5d5d5, #f0f0f0 50%);
  }
  input[type='range']::-moz-range-thumb {
    width: 1.625em;
    height: 1.625em;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 0 0.1875em #eee, 0 0 0.125em 0.1875em #bbb, -0.125em 0 0.25em 0.125em #767674;
    background: linear-gradient(-60deg, #d5d5d5, #f0f0f0 50%);
    cursor: ns-resize;
  }
  input[type='range']::-ms-thumb {
    width: 1.625em;
    height: 1.625em;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 0 0.1875em #eee, 0 0 0.125em 0.1875em #bbb, -0.125em 0 0.25em 0.125em #767674;
    background: linear-gradient(-60deg, #d5d5d5, #f0f0f0 50%);
  }
  input[type='range']::-ms-tooltip {
    display: none;
    /* slider states */
  }
  input[type='range']{
      background: rgb(50, 50, 50);
      border: 1px solid rgba(0, 150, 0, 0.5);
  }
  input[type='range']:focus {
    outline: none;
  }
/*-------------------------------*/
.player__control__progress{
    width: 100%;
    max-width: 600px;
    height: 7px;
    margin-top: 20px;
    position: relative;
    border-radius: 8px;
    display: inline-block;
    background: rgb(130, 130, 130);
}
#player__control__progress_2{
    position: relative;
    left: 0;
    top: 0;
    width: 0%;
    height: 7px;
    border-radius: 8px;
    background-color: #51cf66;
    transition: width .1s linear;
}
.player__timer p{
    display: inline-block;
    color: white;
    font-weight: normal;
    font-size: 15px;
    vertical-align: middle;
    position: relative;
}
.audioPlayer{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -999;
    opacity: 0
}