/*Altura{Perfeita};

Largura{
    Sidebar{
        Colocar menu de hamburguer quando a largura estiver menor que 1001px
    };
    Main, Player{Perfeito};
};
*/
@media screen and (min-width: 2768px){
    .player__artist{
        width: 45%;
    }
    .player__control{
        width: 25%;
    }
}
@media screen and (max-width: 2767px){
    .player__control{
        width: 25%;
    }
}
@media screen and (max-width: 2514px){
    .player__control{
        width: 35%;
    }
}
@media screen and (max-width: 2220px){
    .player__control{
        width: 45%;
    }
}
@media screen and (max-width: 1715px){
    .player__control{
        width: 60%;
    }
    .main__col{
        width: 15%;
    }
}
@media screen and (max-width: 1500px){
    .main__col{
        width: 17%;
    }
}
@media screen and (max-width: 1300px){
    .main__col{
        width: 19%;
    }
}
@media screen and (max-width: 1000px){
    .sidebar{
        display: none;
    }
    .main{
        width: 100%;
        padding: 0 0 50px 0;
    }
    .main__col{
        width: 20%;
    }
    .player{
        width: calc(100% - 15px);
    }
}
@media screen and (max-width: 768px){
    .main__col{
        width: 25%;
    }
    .player__artist img{
        max-width: 50px;
    }
}
@media screen and (max-width: 687px){
    .main__col{
        width: 30%;
    }
    .player{
        height: 150px;
        flex-direction: column;
    }
    .player__artist {
        width: 80%;
        height: 50%;
        position: relative;
        bottom: 10px;
    }
    .player__control{
        width: 100%;
    }
    .player__control_2 {
        top: -55%;
        left: 500px;
        transform: translateY(-50%);
    }
}
@media screen and (max-width: 610px){
    .main__col{
        width: 30%;
    }
    .player__control_2 {
        left: 420px;
        width: 15%;
    }
}
@media screen and (max-width: 550px){
    .main__col{
        width: 35%;
    }
    .player__control_2 {
        display: none;
    }
    .threeDots{
        display: inline-block;
    }
    .firstLoopBtn{
        display: none;
    }
}
@media screen and (max-width: 450px){
    .main__col{
        width: 45%;
    }
}
@media screen and (max-width: 367px){
    .main__col{
        width: 49%;
    }
    .player__artist img{
        max-width: 30px;
    }
    .player__artist h3{
        font-size: 15px;
    }
    .player__artist h3 > span{
        font-size: 12px;
    }
    .player__control__buttons a{
        margin: 10px
    }
    .player__control__buttons .loader{
        margin: 0 10px;
    }
    .threeDotsBtns{
        bottom: 65%;
    }
    .muteBtn2, .unMuteBtn2{
        left: -9px;
    }
}
@media screen and (max-width: 300px){
    .main__col{
        width: 65%;
    }
}