.main{
    width: calc(100% - 250px);
    background-color: var(--dark-gray-rgb);
    height: 100%;

    float: left;
    padding: 15px 50px;
    overflow-y: auto;
}
.main__row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
}
.main__row__songs{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
}
.without-songs{
    width: 100%;
    height: 35vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: var(--light-blue);
    font-size: 30px;
}
.without-songs p::before{
    content: ' \2605';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 150px;
}
table{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
tbody{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
tr{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--index-color);
    padding-top: 10px;
}
tr:hover{
    background-color: rgba(0, 0, 0, .3);
    border-radius: 5px;
}
th,
td{
    border-bottom: 1px solid var(--light-blue);
    padding-bottom: 10px;
    width: 46%;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}
th:first-child,
td:first-child{
    width: 7%;
    padding-right: 5px;
}
td img{
    width: 40px;
}
.main__row__footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.section__title{
    color: var(--index-color);
    padding: 25px 0;
}