.main{
    width: calc(100% - 250px);
    background-color: var(--dark-gray-rgb);
    height: 100%;

    float: left;
    padding: 15px 50px;
    overflow-y: auto;
}
.main__row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
}
.main-wraper{
    padding-bottom: 100px;
}
.main__row__title{
    width: 100%;
}
.main__row__title h2{
    color: var(--index-color);
    margin-top: 20px
}
.main__row__title h2:first{
    margin-top: 0;
}
.main__row__songs{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.main__row__songs::-webkit-scrollbar{
    height: 10px;
}
.main__row__songs::-webkit-scrollbar-track{
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid var(--dark-blue);
    box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.5);
}
.main__row__songs::-webkit-scrollbar-track:hover{
    background-color: var(--medium-gray);
}
.main__row__songs::-webkit-scrollbar-thumb{
    background-color: var(--index-color);
    border-radius: 20px;
}
.main__col{
    cursor: pointer;
    width: 14vw;
    margin-right: 1%;
    margin-top: 20px;

    background-color: var(--second-dark-gray);
    border-radius: 8px;

    padding: 10px;

    text-align: center;
    flex: 0 0 auto;
}
.main__col img{
    width: 100%;
}
.main__col h3{
    color: var(--light-gray);
    margin: 8px 0;
}
.main__col p{
    color: var(--gray);
    margin: 8px 0;
    font-size: 13px;
    text-align: left;
}
.main__row__footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.section__title{
    color: var(--index-color);
    padding: 25px 0;
}