.main{
    width: calc(100% - 250px);
    background-color: var(--dark-gray-rgb);
    height: 100%;

    float: left;
    padding: 15px 50px;
    overflow-y: auto;
}
.main-wraper{
    padding-bottom: 100px;
}
.main__row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
}
.main__row__songs{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
}
table{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
tbody{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
tr{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--index-color);
    padding-top: 10px;
}
tr:hover{
    background-color: rgba(0, 0, 0, .3);
    border-radius: 5px;
}
th,
td{
    border-bottom: 1px solid var(--light-blue);
    padding-bottom: 10px;
    width: 46%;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}
th:first-child,
td:first-child{
    width: 7%;
    padding-right: 5px;
}
td img{
    width: 40px;
}