:root{
    --black:            rgb(0, 0, 0);
    --dark-gray-rgb:    rgb(30, 30, 30);
    --second-dark-gray: #282828;
    --dark-gray:        #333;
    --medium-gray:      rgb(60, 60, 60);
    --gray:             rgb(130, 130, 130);
    --light-gray:       rgb(190, 190, 190);
    --almost-white:     #eee;
    
    --dark-blue:        #0366D6;
    --index-color:      #03A6FF;
    --light-blue:       #10D9DC;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
html,body{height: 100%;}

::selection{
    background-color: var(--index-color);
    color: var(--almost-white);
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    border: 1px solid var(--dark-blue);
    box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-track:hover{
    background-color: var(--dark-gray);
}
::-webkit-scrollbar-thumb{
    background: var(--index-color);
    border-radius: 3px;
}