@media screen and (max-width: 1715px){
    .main__row__songs div{
        width: 15%;
    }
}
@media screen and (max-width: 1500px){
    .main__row__songs div{
        width: 17%;
    }
}
@media screen and (max-width: 1300px){
    .main__row__songs div{
        width: 19%;
    }
}
@media screen and (max-width: 1000px){
    .main{
        width: 100%;
    }
    .main__row__songs div{
        width: 20%;
    }
    .player{
        width: 100%;
    }
}
@media screen and (max-width: 887px){
    .player__artist{
        width: 40%;
    }
    .player__control{
        width: 60%;
    }
}
@media screen and (max-width: 768px){
    .main__row__songs div{
        width: 25%;
    }
}
@media screen and (max-width: 687px){
    .main__row__songs div{
        width: 30%;
    }
}
@media screen and (max-width: 675px){
    .player__artist h3{
        max-width: 50%;
    }
}
@media screen and (max-width: 635px){
    .btns{
        margin: 0 10px;
    }
}
@media screen and (max-width: 579px){
    .main__row__footer{
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }
    .main__row__footer > small{
        padding: 0;
    }
}
@media screen and (max-width: 550px){
    .main__row__songs div{
        width: 45%;
    }
}
@media screen and (max-width: 635px){
    .btns{
        margin: 0 7px;
    }
}
@media screen and (max-width: 459px){
    .player{
        height: 175px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .player__artist{
        width: 100%;
    }
    .player__artist img{
        max-width: 50px;
    }
    .player__control{
        width: 100%;
    }
}
@media screen and (max-width: 402px){
    .main{
        padding: 15px 30px;
    }
}
@media screen and (max-width: 367px){
    .main__row__songs div{
        width: 49%;
    }
}