@media screen and (max-width: 1000px){
    .main{
        width: 100%;
    }
}
@media screen and (max-width: 772px){
    .blockquote{
        line-height: initial;
    }
    .main__row{
        width: 100%;
    }
}
@media screen and (max-width: 615px){
    .main__row__name, .main__row__description{
        text-align: center;
    }
    .links{
        flex-direction: column;
        align-items: center;
    }
    .links a{
        padding-top: 10px;
    }
    .links-lines{
        display: none;
    }
}
@media screen and (max-width: 579px){
    .main__row__footer{
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }
    .main__row__footer > small{
        padding: 0;
    }
}
@media screen and (max-width: 399px){
    .main{
        font-size: 12px;
    }
}