@media screen and (max-width: 1715px){
    .main__row__songs div{
        width: 15%;
    }
}
@media screen and (max-width: 1500px){
    .main__row__songs div{
        width: 17%;
    }
}
@media screen and (max-width: 1300px){
    .main__row__songs div{
        width: 19%;
    }
}
@media screen and (max-width: 1000px){
    .main{
        width: 100%;
    }
    .main__row__songs div{
        width: 20%;
    }
    .player{
        width: 100%;
    }
}
@media screen and (max-width: 887px){
    .player__artist{
        width: 40%;
    }
    .player__control{
        width: 60%;
    }
}
@media screen and (max-width: 768px){
    .main__row__songs div{
        width: 25%;
    }
}
@media screen and (max-width: 687px){
    .main__row__songs div{
        width: 30%;
    }
}
@media screen and (max-width: 675px){
    .player__artist h3{
        max-width: 50%;
    }
}
@media screen and (max-width: 635px){
    .btns{
        margin: 0 10px;
    }
}
@media screen and (max-width: 579px){
    .main__row__footer{
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }
    .main__row__footer > small{
        padding: 0;
    }
}
@media screen and (max-width: 560px){
    .btns{
        margin: 0 7px;
    }
}
.toSmallPlayer{
    display: none;
    position: absolute;
    color: var(--light-gray);
    top: 0;
    left: 10px;
    font-size: 32px;
}
@media screen and (max-width: 550px){
    .main{
        padding: 50px 30px 120px 30px;
    }
    .main__row__songs div{
        width: 45%;
    }
    .player{
        width: calc(100% - 15px);
        padding: 0;
        height: 70px;
    }
    .player__artist{
        width: 50%;
    }
    .player__artist h3{
        font-size: 12px;
    }
    .player__control{
        width: 50%;
    }
    .btns{
        margin: 0 6px;
    }
    #randomBtnLabel, #undoBtn, #redoBtn, #hideVolBtn{
        display: none;
    }
    .player__control__progress{
        position: absolute;
        left: 0;
        bottom: 0px;
        height: 4px;
        border-radius: 0;
    }
    #player__control__progress_2{
        border-radius: 0;
    }
    .player__timer{
        display: none;
    }
    .fullscreen-player{
        height: calc(100% - 50px);
        padding: 10px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .fullscreen-player .toSmallPlayer{
        display: initial;
    }
    .fullscreen-player .player__artist{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .fullscreen-player .player__artist img{
        max-width: 80%;
        border-radius: 10px;
    }
    .fullscreen-player .player__artist h3{
        text-align: center;
        margin-bottom: 5px;
        font-size: 20px;
    }
    .fullscreen-player .player__control{
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;   
    }
    .fullscreen-player #randomBtnLabel,
    .fullscreen-player #undoBtn,
    .fullscreen-player #redoBtn,
    .fullscreen-player #hideVolBtn{
        display: initial;
    }
    .fullscreen-player .player__control__progress{
        position: relative;
        height: 7px;
        border-radius: 8px;
    }
    .fullscreen-player #player__control__progress_2{
        border-radius: 8px;
    }
    .fullscreen-player .btns{
        margin: 0 15px;
        font-size: 25px;
    }
    .fullscreen-player .player__timer{
        display: initial;
    }
    .fullscreen-player .player__timer p{
        font-size: 20px;
    }
}
@media screen and (max-width: 440px){
    .fullscreen-player .btns{
        margin: 0 10px;
        font-size: 20px;
    }
}
@media screen and (max-width: 336px){
    .fullscreen-player .btns{
        margin: 0 7px;
        font-size: 20px;
    }
}
@media screen and (max-width: 323px){
    .player__artist h3{
        font-size: 11px;
        margin-left: 0;
    }
}
@media screen and (max-width: 367px){
    .main__row__songs div{
        width: 49%;
    }
}