.menuBtn{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    z-index: 2;
}
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"]:checked ~ .sidebar{
    transform: translateX(250px);
}
.sidebar{
    float: left;
    width: 250px;
    padding: 10px 10px;
    height: 100%;
    overflow-y: auto;
    background-color: var(--black);
    overflow-x: hidden;
}
.sidebar::-webkit-scrollbar{
    width: 10px;
}
.sidebar::-webkit-scrollbar-track{
    border: 1px solid var(--index-color);
    box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
}
.sidebar::-webkit-scrollbar-thumb{
    background: var(--light-blue);
    border-radius: 3px;
}
.sidebar-wraper{
    padding-bottom: 100px;
}
.sidebar__menu{
    margin: 20px 0;
    color: var(--light-gray);
}
.sidebar__logo a img{
    max-width: 250px;
    width: 100%;
}
.sidebar__menu a{
    color: var(--light-gray);
    text-decoration: none;
    display: block;
    padding: 10px 0;
}
.sidebar__menu a i{
    margin: 0 10px;
}
.sidebar__menu svg{
    margin: 0 20px;
}
.sidebar__menu a.sidebar__menu__selecionado{
    color: var(--light-gray);
    background-color: var(--dark-gray);
    border-radius: 5px;
}
.sidebar__menu__item{
    margin-top: 12px;
    cursor: pointer;
    vertical-align: middle;
}
.sidebar__menu p.sidebar__menu__title{
    color: var(--light-gray);
    text-transform: uppercase;
    font-size: 14px;
}
.sidebar__menu__item span{
    font-weight: bold;
    font-size: 14px;
    padding: 0 10px;
}
.sidebar__menu__item img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    display: inline-block;
}
.sidebar__menu a i{
    color: var(--dark-blue);
}
.sidebar__menu a.sidebar__menu__selecionado i{
    color: var(--light-blue);
}