input[type="checkbox"]{
    display: none;
}
.sidebar{
    float: left;
    width: 250px;
    padding: 10px 10px;
    height: 100%;
    overflow-y: auto;
    background-color: var(--black);
    overflow-x: hidden;
}
.sidebar::-webkit-scrollbar{
    width: 10px;
}
.sidebar::-webkit-scrollbar-track{
    border: 1px solid var(--index-color);
    box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
}
.sidebar::-webkit-scrollbar-thumb{
    background: var(--light-blue);
    border-radius: 3px;
}
.sidebar__menu{
    margin: 20px 0;
    color: var(--almost-white);
}
.sidebar__logo a img{
    max-width: 250px;
    width: 100%;
}
.sidebar__menu a{
    color: var(--almost-white);
    text-decoration: none;
    display: block;
    padding: 10px 0;
}
.sidebar__menu a i{
    margin: 0 10px;
}
.sidebar__menu svg{
    margin: 0 20px;
}
.sidebar__menu a.sidebar__menu__selecionado{
    color: var(--almost-white);
    background-color: var(--dark-gray);
    border-radius: 5px;
}
.sidebar__menu__item{
    margin-top: 12px;
    cursor: pointer;
    vertical-align: middle;
}
.sidebar__menu p.sidebar__menu__title{
    color: var(--almost-white);
    text-transform: uppercase;
    font-size: 14px;
}
.sidebar__menu__item span{
    font-weight: bold;
    font-size: 14px;
    padding: 0 10px;
}
.sidebar__menu__item img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    display: inline-block;
}
.sidebar__menu a i{
    color: var(--dark-blue);
}
.sidebar__menu a.sidebar__menu__selecionado i{
    color: var(--light-blue);
}
@media screen and (max-width: 1000px){
    .menu{
        position: fixed;
        top: 0;
        left: 0;
        display: inline-block;
        width: auto;
        z-index: 2;
    }
    .menu ~ .sidebar{
        left: -250px;
    }
    .menu:hover ~ .sidebar{
        transform: translateX(250px);
    }
    .lines{
        width: 35px;
        height: 5px;
        background-color: var(--dark-blue);
        margin: 7px 8px;
        transition: .3s;
    }
    .menu:hover #line1, .menu:hover #line2, .menu:hover #line3{
        transform: translateX(-40px);
        opacity: 0;
    }
    .sidebar{
        position: absolute;
        top: 0;
        z-index: 1;
        transition: all .3s;
    }
}