input[type="checkbox"]{
    display: none;
}
.superior-bar{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 15px);
    height: 60px;
    background-color: var(--black);
    overflow: hidden;
    z-index: 2;
}
.superior-bar-wraper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.superior-bar__logo a img{
    height: 60px;
}
.superior-bar__menu{
    display: flex;
}
.superior-bar__menu a, .superior-bar__menu div{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    cursor: pointer;
}
.sidebar{
    float: left;
    width: 250px;
    padding: 10px 10px;
    height: 100%;
    overflow-y: auto;
    background-color: var(--black);
    overflow-x: hidden;
}
.sidebar::-webkit-scrollbar{
    width: 10px;
}
.sidebar::-webkit-scrollbar-track{
    border: 1px solid var(--index-color);
    box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
}
.sidebar::-webkit-scrollbar-thumb{
    background: var(--light-blue);
    border-radius: 3px;
}
.sidebar__menu{
    margin: 20px 0;
    color: var(--almost-white);
}
.sidebar__logo a img{
    max-width: 250px;
    width: 100%;
}
.sidebar__menu a{
    color: var(--almost-white);
    text-decoration: none;
    display: flex;
    padding: 10px 0;
}
#favorite{
    display: none;
}
.sidebar__menu:last-child a{
    margin-top: 5px;
    padding: 5px 0;
}
.sidebar__menu a i{
    margin: 0 10px;
}
.sidebar__menu a.sidebar__menu__selecionado{
    color: var(--almost-white);
    background-color: var(--dark-gray);
    border-radius: 5px;
}
.sidebar__menu p.sidebar__menu__title{
    color: var(--almost-white);
    text-transform: uppercase;
    font-size: 14px;
}
.sidebar__menu a i, .superior-bar__menu a i, .superior-bar__menu div i{
    color: var(--dark-blue);
}
.sidebar__menu a.sidebar__menu__selecionado i{
    color: var(--light-blue);
}
@media screen and (max-width: 1000px){
    .menu{
        position: fixed;
        top: 0;
        left: 0;
        display: inline-block;
        width: auto;
        z-index: 2;
    }
    .menu:hover ~ .sidebar{
        transform: translateX(250px);
    }
    .lines{
        width: 35px;
        height: 5px;
        background-color: var(--dark-blue);
        margin: 7px 8px;
        transition: .3s;
    }
    .menu:hover #line1, .menu:hover #line2, .menu:hover #line3{
        transform: translateX(-40px);
        opacity: 0;
    }
    .sidebar{
        left: -250px;
        position: absolute;
        top: 0;
        z-index: 1;
        transition: all .3s;
    }
}
@media screen and (max-width: 550px){
    .menu{
        display: none;
    }
    .superior-bar{
        display: initial;
    }
    .sidebar{
        left: 0!important;
        position: absolute;
        top: initial;
        bottom: 0;
        padding: 5px 10px;
        width: calc(100% - 15px);
        height: 50px;
        overflow: hidden;
    }
    .sidebar-wraper{
        width: 100%;
        height: 100%;
    }
    .sidebar__logo{
        display: none;
    }
    .sidebar__menu:last-child{
        display: none;
    }
    .sidebar__menu{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0;
    }
    #favorite{
        display: flex;
    }
    #sidebar__menu__about{
        display: none;
    }
    .sidebar__menu a{
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 40px;
    }
    .sidebar__menu a p{
        font-size: 13px;
    }
    .player{
        margin-bottom: 50px;
    }
}